{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 ">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">My Profile</h4>
                </div>
                <div class="card-body">
                    
                    <!-- Messages -->
                    {% if messages %}
                        <div class="mb-4">
                            {% for message in messages %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- Profile Form -->
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                        <a href="{% url 'eshop_app:profile_view' %}">View Profile</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
